:root{
  --d-very-light-grey: #77838c;
  --d-light-grey: #34393d;
  --d-grey: #202124;
  --d-dark-grey: #18181b;
  --d-very-dark-grey: #0b0b0b;
  --l-light-grey: #f4f6f9;
  --l-grey: #e0e3e8;
  --l-dark-grey: #c8cbd1;
  --l-very-dark-grey: #b8babf;
  --d-green: #12DB00;
  --d-dark-green: #16be07;
  --d-orange: #F27407;
  --d-dark-orange: #da6908;
  --d-pink: #D80467;
  --d-dark-pink: #bb055a;
  --l-green: #38ec28;
  --l-dark-green: #38d52a;
  --l-orange: #f68320;
  --l-dark-orange: #e87a1b;
  --l-pink: #e9227f;
  --l-dark-pink: #d11a70;
  --blue: #2e33f6;
  --darl-blue: #1015d6;
  --teal: #29d7e2;
  --dark-teal: #12bdc8;
  --purple: #7C05F2;
  --dark-purple: #6204BF;
  --red: #F23827;
  --dark-red: #de2918;
}

*{
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html{
  font-size: .625em;
}

body{
  margin: 0;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  background-color: var(--d-grey);
  color: #fff;
}

::selection {
  color: #fff;
  background-color: rgba(96, 131, 252, 0.99);
}

::placeholder {
  color: var(--d-light-grey);
}

input, button{
  color: #fff;
  background-color: transparent;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
}

::-webkit-scrollbar{
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus{
  border: 0;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  background-color: transparent;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
}

.input{
  max-width: 66.4rem;
  font-size: 1.8rem;
  padding: 1.25rem 2.2rem;
  white-space: pre;
  word-wrap: normal;
  overflow-x: auto;
  overflow-y: hidden;
  vertical-align: middle;
  border-style: solid;
  border-width: .2rem;
  border-color: transparent;
  height: 5rem;
}

.url{
  color: var(--d-light-grey);
}

.url:focus{
  color: #fff;
}

.container{
  padding: 1rem 0;
  margin: 0 auto;
  max-width: 75.4rem;
  position: relative;
}

.row{
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}

.label{
  width: 6rem;
}

.editor{
  display: flex;
  align-items: center;
  border-radius: 2.5rem;
  background-color: var(--d-dark-grey);
  flex: 1;
}

.editor:focus, .editor:focus-within, .editor--focus{
  outline: none;
  border-color: var(--blue);
  background-color: var(--d-light-grey);
}

.token-wrap{
  display: inline-block;
}

.token{
  padding: .3rem .7rem;
  margin-right: .7rem;
  border-radius: .7rem;
  background-color: var(--d-very-dark-grey);
  display: inline-block;
  border-style: solid;
  border-width: .2rem;
  border-color: transparent;
}

.token:focus{
  outline: none;
  /* border-color: var(--blue); */
}

.token--focus{
  border-color: var(--blue);
}

.offcanvas{
  position: absolute;
  width: 25rem;
  max-height: 17.2rem;
  overflow-y: auto;
  background-color: #000;
  border-radius: .7rem;
}

.offcanvas-row{
  display: flex;
}

.offcanvas-row--active .offcanvas-option{
  background-color: var(--d-dark-grey);
}

.options-input, .offcanvas-option{
  width: 20.7rem;
  height: 4.3rem;
  padding: 1rem;
}

.options-input:focus{
  outline: none;
}

.offcanvas-label{
  width: 4.3rem;
  height: 4.3rem;
  font-family: 'PT Mono', monospace;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offcanvas-type-host .offcanvas-row--active .offcanvas-label,
.offcanvas-type-host.offcanvas-row--active .offcanvas-label{
  background-color: var(--d-green);
}

.offcanvas-type-path .offcanvas-row--active .offcanvas-label,
.offcanvas-type-path.offcanvas-row--active .offcanvas-label{
  background-color: var(--d-orange);
}

.offcanvas-type-query .offcanvas-row--active .offcanvas-label,
.offcanvas-type-query.offcanvas-row--active .offcanvas-label{
  background-color: var(--d-pink);
}

.offcanvas-type-host .offcanvas-label{
  background-color: var(--d-dark-green);
}

.offcanvas-type-path .offcanvas-label{
  background-color: var(--d-dark-orange);
}

.offcanvas-type-query .offcanvas-label{
  background-color: var(--d-dark-pink);
}

.host .token--active{
  background-color: var(--d-green);
}

.path .token--active{
  background-color: var(--d-orange);
}

.query .token--active{
  background-color: var(--d-pink);
}

.query [data-pair-type=value] .token--active{
  background-color: var(--d-dark-pink);
}

.suggestion .offcanvas-option{
  cursor: default;
}

[data-pair-type=value] .token{
  background-color: var(--d-grey);
}

.import-export{
  margin-left: auto;
}

.col .token{
  background-color: transparent;
  cursor: default;
  width: auto;
  border-color: var(--d-light-grey);
}

.col .token:focus{
  border-color: var(--blue);
}

.col .export{
  background-color: var(--d-light-grey);
}

.keys{
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.4rem;
  width: 84vw;
  max-width: 84%;
  padding: 1rem;
  display: none;
}

.show{
  display: block;
}

table{
  width: 100%;
  border-collapse: collapse;
  color: #fff;
}

td{
  padding: .5rem;
}

thead{
  text-align: left;
  font-weight: bold;
  color: var(--d-very-light-grey);
}

tbody td{
  border-top: .1rem solid var(--d-light-grey);
}

.pre{
  font-family: 'PT Mono', monospace;
  font-weight: 400;
}

@media(prefers-color-scheme: light){
  body{
    color: #000;
    background-color: var(--l-light-grey);
  }
  input{
    color: #000;
  }
  ::placeholder {
    color: var(--l-dark-grey);
  }
  .editor{
    background-color: var(--l-grey);
  }
  .editor:focus, .editor:focus-within, .editor--focus{
    background-color: #fff;
  }
  .url{
    color: var(--l-very-dark-grey);
  }
  .url:focus{
    color: #000;
  }
  .token{
    background-color: var(--l-dark-grey);
  }
  .offcanvas{
    background-color: #fff;
  }
  .offcanvas-row--active .offcanvas-option{
    background-color: var(--l-light-grey);
  }
  [data-pair-type=value] .token{
    background-color: var(--l-light-grey);
  }
  .col .token{
    color: #000;
    border-color: var(--l-grey);
  }
  .col .export{
    background-color: var(--l-grey);
  }
  .offcanvas-type-host .offcanvas-row--active .offcanvas-label,
  .offcanvas-type-host.offcanvas-row--active .offcanvas-label{
    background-color: var(--l-green);
  }

  .offcanvas-type-path .offcanvas-row--active .offcanvas-label,
  .offcanvas-type-path.offcanvas-row--active .offcanvas-label{
    background-color: var(--l-orange);
  }

  .offcanvas-type-query .offcanvas-row--active .offcanvas-label,
  .offcanvas-type-query.offcanvas-row--active .offcanvas-label{
    background-color: var(--l-pink);
  }

  .offcanvas-type-host .offcanvas-label{
    background-color: var(--l-dark-green);
  }

  .offcanvas-type-path .offcanvas-label{
    background-color: var(--l-dark-orange);
  }

  .offcanvas-type-query .offcanvas-label{
    background-color: var(--l-dark-pink);
  }

  .host .token--active{
    background-color: var(--l-green);
  }

  .path .token--active{
    background-color: var(--l-orange);
  }

  .query .token--active{
    background-color: var(--l-pink);
  }

  .query [data-pair-type=value] .token--active{
    background-color: var(--l-dark-pink);
  }
}
